# Github Language Colors

A list of the colors used by GitHub specified in [github/linguist](https://github.com/github/linguist)

Generate this `README.md` with Golang: `go run main.go`

Name|Color
----|-----
{{ range . -}}
[{{.Name}}](https://github.com/trending?l={{.EncodedName}}) | `{{.HexColor}}`
{{ end }}
